* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
    --background-color: #fffaf5;
    --heading--color: #000958;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ==========COMMON============== */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    font-weight: 600;
}

.heading {
    color: var(--heading--color);
    font-family: "Sora";
    word-break: break-all;
}

.heading.lv1 {
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15; /* 115.152% */
}

.heading.lv2 {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2; /* 119.231% */
}

.heading.lv3 {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.desc {
    color: #656689;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
    word-break: break-all;
}

/* ==========HEADER========== */
.header {
    padding-top: 14px;
    background-color: var(--background-color);
}

.header.fixed {
    position: sticky;
    top: -14px;
    left: 0;
    z-index: 1;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.navbar-list {
    display: flex;
}

.navbar-item__link {
    display: block;
    padding: 8px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar-item__link.active {
    text-align: center;
    font-weight: 600;
    color: var(--heading--color);
}

.navbar-item__link:hover {
    font-weight: 600;
    color: var(--heading--color);
}

.navbar-item__link::before {
    content: attr(title);
    display: block;
    font-weight: 600;
    height: 0;
    visibility: hidden;
}

.header-action__btn {
    min-width: 117px;
    height: 50px;
    color: var(--heading--color);
    font-size: 1.4rem;
    border: 1px solid var(--heading--color);
    border-radius: 25px;
    transition: 0.5s;
}

.header-action__btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
}

.hero {
    padding-top: 100px;
    height: calc(100vh - 88px);
    background-color: var(--background-color);
}

.hero-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-images {
    position: relative;
    width: 47%;
    height: 582px;
}

.hero-images__wrapper {
    display: flex;
}

.hero-img__background:first-child {
    width: 388px;
    height: 488px;
    border-radius: 16px;
    border: 3px solid #fff;
    background: linear-gradient(180deg, #ffa78d 0%, #ff8c60 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}

.hero-img__background:first-child .hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.hero-img__background:last-child {
    position: absolute;
    bottom: 36px;
    right: 0;
    width: 186px;
    height: 244px;
    background-color: #faa7ad;
    border-radius: 16px;
    border: 2px solid rgba(255, 255, 255, 0.65);
    box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
}

.hero-img__background:last-child .hero-img {
    width: 100%;
    height: 100%;
    padding-top: 24px;
    object-fit: cover;
}

.hero-images__label {
    position: absolute;
    bottom: 0;
    right: 171px;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-images__label__row {
    display: flex;
    gap: 9px;
}

.hero-images__label__wrapper-img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #fec23f;
}

.hero-images__label__thumb {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-images__label__title {
    color: #181e52;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
}

.hero-images__label__line-1,
.hero-images__label__line-2 {
    height: 4px;
    border-radius: 10px;
    border-radius: 10px;
    opacity: 0.08;
    background: var(--heading--color);
}

.hero-images__label__line-1 {
    width: 118px;
    margin: 7px 0;
}

.hero-images__label__line-2 {
    width: 39px;
}

.hero-images__label__row:first-child {
    position: relative;
}

.hero-images__label__row:first-child:after {
    position: absolute;
    bottom: -20px;
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #f2f2f2;
}

.hero-images__label__row:last-child {
    margin-top: 40px;
}

.hero-images__label__row:last-child .hero-images__label__wrapper-img {
    background-color: #c6e2fa;
}

.hero-images__icon {
    position: absolute;
}

.hero-images__icon:first-of-type {
    left: -58px;
    bottom: 103px;
    z-index: -1;
}

.hero-images__icon:last-of-type {
    top: 16px;
    right: 130px;
    z-index: -1;
}

.hero-content {
    width: 43%;
}

.hero-content__desc {
    max-width: 391px;
    margin-top: 24px;
}

.hero-content__actions {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 38px;
}

.hero-content__cta {
    min-width: 189px;
    height: 60px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 31px;
}

.hero-content__actions__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    color: var(--primary-color);
    border-radius: 50%;
    background-color: white;
    transition: 0.2s;
}

.hero-content__cta:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    background-color: white;
    color: green;
    border: 2px solid red;
}

.hero-content__link {
    color: var(--heading--color);
    font-weight: 500;
    text-decoration-line: underline;
}

/* ==========ABOUT========== */

.about {
    background-color: var(--background-color);
}

.about-wrapper {
    padding: 53px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-content {
    width: 41%;
}

.about-content__label {
    color: #5e6085;
    font-family: Sora;
    font-weight: 600;
}

.about-content__heading {
    margin-top: 15px;
}

.about-content__desc {
    margin-top: 24px;
}

.about-content__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25px 25px;
    gap: 34px 36px;
    margin-top: 54px;
}

.about-content__item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.about-content__item__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: var(--primary-color);
}

.about-content__item__desc {
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    white-space: nowrap;
}

.about-wrapper-image {
    position: relative;
    flex-shrink: 0;
    width: 42.2%;
    height: 559px;
}

.about-img {
    position: relative;
    display: block;
    bottom: 43px;
    right: -23px;
    width: 450px;
    height: 602px;
    z-index: 2;
}

.about-image__background {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}

.about-image__experience {
    position: absolute;
    left: -92px;
    top: 165px;
    padding: 30px 26px;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    z-index: 1;
}

.about__big-number {
    color: #fff;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
}

.about-image__experience__desc {
    margin-top: 14px;
    color: #c6f4f9;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42; /* 142.857% */
}

.about-image__experience__icon {
    position: absolute;
    right: -32px;
    top: -39px;
}

.about-image-icon {
    position: absolute;
    right: -51px;
    top: 157px;
}

/* ============FEATURES=========== */
.features {
    padding: 93px 0 185px;
    background-color: var(--background-color);
}

.features-inner {
    display: flex;
    align-items: center;
    gap: 127px;
}

.features-wrapper-image {
    flex: 1 0;
    width: 458px;
    height: 500px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.features-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}

.features-content {
    max-width: 557px;
}

.features-content__desc {
    margin-top: 24px;
    max-width: 511px;
}

.features-content__row {
    position: relative;
    margin-top: 52px;
    display: flex;
    gap: 56px;
}

.features-content__row::after,
.features-content__row::before {
    position: absolute;
    content: "";
    height: 2px;
    background-color: var(--primary-color);
}

.features-content__row::after {
    left: 18px;
    bottom: -8px;
    width: 557px;
    opacity: 0.08;
}

.features-content__row::before {
    width: 95px;
    bottom: -8px;
    left: 9px;
}

.features-content__item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.features-content__label {
    color: #48496a;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    white-space: nowrap;
}

.features-content__desc:last-of-type {
    max-width: 391px;
    margin-top: 36px;
    font-size: 1.4rem;
    line-height: 1.7;
}

.features__view-more {
    display: inline-block;
    margin-top: 32px;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: underline;
}

/* ==============SERVICES============ */
.services {
    padding: 68px 100px;
    background-color: #fff6ed;
}

.services__question,
.groomers__label {
    color: #5e6085;
    font-family: Sora;
    font-weight: 600;
    text-align: center;
}
.services__heading {
    margin-top: 15px;
    text-align: center;
}

.services-content {
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.services-content__item {
    width: 294px;
    height: 208px;
    padding: 30px 22px 30px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.services-content__item__heading {
    display: flex;
    align-items: center;
    gap: 12px;
}

.services-content__item__heading::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 22px;
    background: linear-gradient(63deg, #ff5b2e 0%, #ffa187 100%);
    border-radius: 3px;
}

.services-content__item__desc {
    margin-top: 18px;
    font-size: 1.4rem;
    line-height: 1.7;
}

.services-content__item__read-more {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 24px;
    color: #34396a;
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 200;
}

.services-content__item + .services-content__item {
    margin-top: 24px;
}

/* Column2 */
.services-content__column:nth-of-type(2) {
    margin-left: 64px;
    margin-right: 71px;
}

.services-content__column__img {
    position: absolute;
    bottom: 0;
    left: -17px;
    display: block;
    width: 447px;
    height: 593px;
    object-fit: cover;
}

.services-content__background-img {
    position: relative;
    bottom: -95px;
    width: 410px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 100%);
}

.services-content__column__cta {
    position: absolute;
    bottom: -100px;
    left: 50%;
    translate: -50% 0;
    display: inline-flex;
    min-width: 214px;
    height: 56px;
    border-radius: 31px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    transition: 0.2s;
    z-index: 10;
}

.services-content__column__cta:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/* =========GROOMERS=============== */
.groomers {
    padding: 68px 0 100px;
    background-color: #fffaf5;
}

.groomers__heading {
    margin-top: 15px;
    text-align: center;
}

.groomers-team {
    display: flex;
    justify-content: space-between;
    margin-top: 59px;
}

.groomer-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 266px;
}

.groomer-member__wrapper-avt {
    position: relative;
    width: 234px;
    height: 266px;
    border-radius: 129.5px;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.groomer-member:nth-child(2) .groomer-member__wrapper-avt {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.groomer-member:nth-child(3) .groomer-member__wrapper-avt {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.groomer-member:nth-child(4) .groomer-member__wrapper-avt {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.groomer-member-avt {
    position: absolute;
    bottom: 0;
    width: 100%;
    object-fit: cover;
    border-radius: 129.5px;
}

.groomer-member__info {
    margin-top: 29px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
}

.groomer-member__name {
    margin-top: 14px;
}

.groomer-member__icon {
    position: absolute;
    bottom: 0;
    left: -18px;
}

.groomer-member:nth-child(even) .groomer-member__icon {
    top: 0;
}

.groomer-cta {
    position: relative;
    left: 50%;
    translate: -50% 0;
    margin-top: 48px;
    min-width: 193px;
    height: 56px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 31px;
    transition: color, 0.5s;
}

.groomer-cta span {
    position: relative;
    z-index: 1;
}

.groomer-cta::after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 0;
    background-color: var(--primary-color);
    height: 100%;
    border-radius: 31px;
    transition: background-color, 0.5s;
}

.groomer-cta:hover::after {
    width: 100%;
    left: 0;
}

.groomer-cta:hover {
    color: white;
}

/* ==========PRICING========= */
.pricing {
    padding: 86px 0;
    background-color: #fff6ed;
}

.pricing-inner-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__desc {
    margin-top: 24px;
    max-width: 709px;
    text-align: center;
}

.pricing__chooses {
    display: flex;
    position: relative;
    margin-top: 38px;
}

.pricing__choose__label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;
    width: 276px;
    height: 56px;

    border-radius: 31px;
    border: 1px solid #ff5b2e;
    font-weight: 600;
    color: var(--primary-color);
}

.pricing__choose__label::before {
    position: absolute;
    right: 144px;
    content: "";
    display: inline-block;
    width: 131px;
    height: 56px;
    border-radius: 31px;
    background: #ff5b2e;
    transition: 0.5s;
}

.pricing__chooses [type="checkbox"]:checked + label::before {
    right: 0;
}

.pricing__label__text-1,
.pricing__label__text-2 {
    transition: 0.5;
}

.pricing__chooses__input:checked + .pricing__choose__label .pricing__label__text-2 {
    color: white;
    position: relative;
    z-index: 2;
}

.pricing__chooses__input:not(:checked)
    + .pricing__choose__label
    .pricing__label__text-1 {
    color: white;
    position: relative;
    z-index: 2;
}

.pricing-chooses__icon-sale {
    position: absolute;
    right: -110px;
    bottom: 27px;
}

.pricing-list {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 44px;
}

.pricing-wrapper-list {
    padding: 0 88px;
}

.pricing-column {
    padding: 30px 28px 43px;
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: 0.3s;
}

.pricing-column__classify {
    color: #ff5b2e;
    font-size: 1.2rem;
    font-weight: 400;
}

.pricing-column__category-care {
    margin-top: 8px;
    color: #3f4065;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
}

.pricing-column__price {
    display: inline-block;
    margin-top: 24px;
    color: var(--heading--color);
    font-family: Sora;
    font-size: 3.4rem;
    font-weight: 700;
}

.pricing-column__btn {
    margin-top: 22px;
    min-width: 246px;
    height: 44px;
    color: var(--primary-color);
    border-radius: 39px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    transition: 0.5s;
}

.pricing-column__sub-list {
    margin-top: 24px;
}

.pricing__sub-list__item {
    display: flex;
    align-items: center;
}

.sub-list__item__icon.unchecked {
    opacity: 0.5;
}

.sub-list__item__text {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 12px;
}

.pricing-column:hover {
    translate: 0 -20px;
    border: 2px solid var(--primary-color);
}

.pricing-column:hover .pricing-column__btn {
    color: #fff;
    background-color: var(--primary-color);
}

/* ==========REVIEWS============== */
.reviews {
    padding: 130px 0 186px;
    background-color: #fffaf5;
}

.reviews-inner {
    position: relative;
    display: flex;
    align-items: center;
}

.reviews__button {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
    width: 54px;
    height: 54px;
    color: var(--primary-color);

    outline: none;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    border-radius: 50%;

    transition: background-color, color, 0.3s;
}

.reviews__button-2__icon {
    rotate: 180deg;
}

.reviews__button:hover {
    background-color: var(--primary-color);
    color: white;
}

.review-list {
    display: flex;
    overflow: hidden;
}

.reviews-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin: 0 76px 0 44px;
    padding-top: 22px;
}

.reviews__wrapper-image {
    position: relative;
    width: 274px;
    height: 350px;
    border-radius: 137px;
    background: #ffda54;
}

.reviews__image {
    position: absolute;
    bottom: 0;
    width: 100%;
    object-fit: cover;
    border-radius: 137px;
}

.reviews-item__info {
    max-width: 553px;
    margin-left: 115px;
}

.review__desc {
    margin-top: 24px;
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.55; /* 155.556% */
}

.review__author {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin-top: 34px;
    color: #282828;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
}

.review__author::before {
    content: "";
    display: inline-block;
    margin-right: 8px;
    width: 20px;
    height: 2px;
    background-color: black;
}

.reviews__control__location {
    position: absolute;
    left: 50%;
    translate: -50% 0;
    bottom: -56px;
    display: flex;
    gap: 8px;
}

.reviews__control__item {
    width: 8px;
    height: 8px;
    border-radius: 100rem;
    border: 1px solid var(--primary-color);
}

.reviews__control__item.active {
    width: 24px;
    height: 8px;
    border-radius: 4px;
    background-color: var(--primary-color);
}

/* ==========BLOG=========== */
.blog {
    padding-bottom: 130px;
    background-color: #fffaf5;
}

.blog-row-top {
    display: flex;
    align-items: center;
}

.blog__heading {
    margin-right: 512px;
}

.blog-row-top__desc {
    max-width: 350px;
}

.blog-row-top__cta {
    margin-top: 24px;
    min-width: 182px;
    height: 56px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 31px;
    transition: 0.2s;
}

.blog-row-top__cta:hover {
    background-color: var(--primary-color);
    color: white;
}

.blog-list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 48px;
}

.blog-item {
    border-radius: 24px;
}

.blog-item__bgc-thumb {
    width: 100%;
    padding: 24px 0 0 36px;
    border-radius: 24px;
    background-color: #90ccff;
}

.blog-item:nth-child(2) .blog-item__bgc-thumb{
    background-color: #FF997E;
}

.blog-item:nth-child(3) .blog-item__bgc-thumb{
    background-color: #5BD6E2;
}

.blog-item__date {
    color: #fff;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 400;
}

.blog-item__thumb {
    margin-top: 25px;
    display: block;
    width: 322px;
    height: 296px;
    object-fit: cover;
}

.blog-item__title.heading.lv3 {
    margin-top: 28px;
    line-height: 1.54;
}

.blog-item__desc {
    font-size: 1.4rem;
    margin-top: 16px;
    line-height: 1.71;
}
