* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
    --background-color: #fffaf5;
    --heading--color: #000958;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ==========COMMON============== */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    font-weight: 600;
}

.heading {
    color: var(--heading--color);
    font-family: "Sora";
}

.heading.lv1 {
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15; /* 115.152% */
}

.heading.lv2 {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2; /* 119.231% */
}

.heading.lv3 {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.desc {
    color: #656689;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.section-label {
    color: #5e6085;
    font-family: Sora;
    font-weight: 600;
    text-align: center;
}

/* ==========HEADER========== */
.header {
    padding-top: 14px;
    background-color: var(--background-color);
}

.header.fixed {
    position: sticky;
    top: -14px;
    left: 0;
    z-index: 5;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.navbar-list {
    display: flex;
}

.navbar-item__link {
    display: block;
    padding: 8px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar-item__link.active {
    text-align: center;
    font-weight: 600;
    color: var(--heading--color);
}

.navbar-item__link:hover {
    font-weight: 600;
    color: var(--heading--color);
}

.navbar-item__link::before {
    content: attr(title);
    display: block;
    font-weight: 600;
    height: 0;
    visibility: hidden;
}

.header-action__btn {
    min-width: 117px;
    height: 50px;
    color: var(--heading--color);
    font-size: 1.4rem;
    border: 1px solid rgba(0, 0, 98, 0.7);
    border-radius: 25px;
    transition: 0.5s;
}

.header-action__btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
}

.hero {
    padding-top: 100px;
    height: calc(942px - 88px);
    background-color: var(--background-color);
}

.hero-inner {
    display: flex;
    gap: 121px;
    align-items: center;
}

.hero-images {
    position: relative;
    width: 47%;
    /* anh Son k xet width don vi phan tram cho phan images ma chi xet widht voi dvi la px cho cac image item ben trong */
    height: 582px;
}

.hero-images__wrapper {
    display: flex;
}

.hero-img__background:first-child {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* CSS nay co tac dung khi anh nho thi anh van o giua va o duoi cung trong bgc */

    width: 388px;
    height: 488px;

    /* Widht va Height cua cac wrapper img anh Son de la width va height thoi, k dung max-w, max-h */
    border-radius: 16px;
    border: 3px solid #fff;
    background: linear-gradient(180deg, #ffa78d 0%, #ff8c60 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);

    z-index: 1;
}

.hero-img__background:first-child .hero-img {
    max-width: 100%;
    max-height: 100%;
    /* max width va max height de khi ta de 1 anh nho hon cai khung thi anh k bi keo dan to ra */
    object-fit: cover;
    border-radius: 3px;
    border-radius: inherit;
}

.hero-img__background:last-child {
    position: absolute;
    bottom: 36px;
    right: 0;
    width: 186px;
    height: 244px;
    background-color: #faa7ad;
    border-radius: 16px;
    border: 2px solid rgba(255, 255, 255, 0.65);
    box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
    z-index: 2;
}

.hero-img__background:last-child .hero-img {
    width: 100%;
    height: 100%;
    padding-top: 24px;
    object-fit: cover;
    border-radius: inherit;
}

.hero-images__label {
    position: absolute;
    bottom: 0;
    right: 171px;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    z-index: 3;
}

.hero-images__label__row {
    display: flex;
    gap: 9px;
}

.hero-images__label__wrapper-img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #fec23f;
    object-fit: cover;
}

.hero-images__label__thumb {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-images__label__title {
    color: #181e52;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
}

.hero-images__label__line-1,
.hero-images__label__line-2 {
    height: 4px;
    border-radius: 10px;
    border-radius: 10px;
    opacity: 0.08;
    background: var(--heading--color);
}

.hero-images__label__line-1 {
    width: 118px;
    margin: 7px 0;
}

.hero-images__label__line-2 {
    width: 39px;
}

.hero-images__label__row:first-child {
    position: relative;
}

.hero-images__label__row:first-child:after {
    position: absolute;
    bottom: -20px;
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background: #f2f2f2;
}

.hero-images__label__row:last-child {
    margin-top: 40px;
}

.hero-images__label__row:last-child .hero-images__label__wrapper-img {
    background-color: #c6e2fa;
}

.hero-images__icon {
    position: absolute;
}

.hero-images__icon:first-of-type {
    left: -58px;
    bottom: 103px;
}

.hero-images__icon:last-of-type {
    top: 16px;
    right: 130px;
}

.hero-content {
    width: 42.6%;
}

.hero-content__heading {
    max-width: 517px;
}

.hero-content__desc {
    /* anh son dat dvi la width thoi */
    max-width: 383px;
    margin-top: 24px;
}

.hero-content__actions {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 38px;
}

.hero-content__cta {
    min-width: 189px;
    height: 60px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 31px;
}

.hero-content__actions__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    color: var(--primary-color);
    border-radius: 50%;
    background-color: white;
    transition: 0.2s;
}

.hero-content__cta:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    background-color: white;
    color: green;
    border: 2px solid red;
}

.hero-content__link {
    color: var(--heading--color);
    font-weight: 500;
    text-decoration-line: underline;
}
/* ===============ABOUT=============== */
.about {
    padding: 53px 0 185px;
    background: #fffaf5;
}

.about-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.about__media {
    position: relative;
}

/* ABOUT CONTENT - COLUMN 1 */

.about__label {
    text-align: left;
}

.about__heading {
    margin-top: 15px;
    max-width: 446px;
}

.about__desc {
    max-width: 431px;
}

.about__check-list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    row-gap: 34px;
    column-gap: 36px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;

    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
}

.about__check-item::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    background-color: var(--primary-color);
    border-radius: 4px;
}

.about__check-item::after {
    content: url(../icon/about-check-icon.svg);
    position: absolute;
    top: 2px;
    left: 4px;
}

/*ABOUT MEDIA - COLUMN 2  */
.about-card {
    position: absolute;
    top: 157px;
    left: 0;
    width: 136px;
    height: 156px;
    padding: 30px 26px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    text-align: center;
    z-index: 2;
}

.about-card__title {
    color: #fff;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1; /* 100% */
}

.about-card__desc {
    margin-top: 14px;
    color: #c6f4f9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42; /* 142.857% */
}

.about-card__decor {
    position: absolute;
    top: -39px;
    right: -36px;
}

.about__wrapper-image {
    position: relative;
    margin-left: auto;
    /*de cho wrapper-image dc sat sang ben le phai  */
    width: 494px;
}

/* background image about*/
.about__wrapper-image::after {
    content: "";

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    /* cac cach tuong duong khi k dung left right bottom */
    /* inset: auto 0 0 0; */
    /* width: 100%; */

    /* width 100% cua pseudo after duoc can chinh theo width cua the cha gan nhat cua no co position relative */

    height: 336px;
    background-color: #fff;

    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}

.about__image {
    position: relative;
    z-index: 1;
    /* CSS lam cho image nam de len background */
    display: block;
    margin: 0 auto;
    /* center image trong wrapper-image */

    width: 450px;
    object-fit: cover;
}

.about__media__decor-top {
    position: absolute;
    top: 149px;
    right: -72px;
}

/* ABOUT MEDIA - COLUMN 3 */
.about__media--bottom {
    margin-top: 146px;
}
.about__wrapper-image--bottom {
    width: 458px;
    margin-left: 0;
}

.about__wrapper-image--bottom::after {
    content: "";
    height: 500px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about-image-bottom {
    width: 458px;
    display: block;
}

.about__media__decor {
    position: absolute;
    z-index: 1;
}

.about__media__decor:nth-child(1) {
    top: 13px;
    right: 64px;
}

.about__media__decor:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__media__decor:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__media__decor:nth-child(4) {
    top: 270px;
    right: -33px;
}

.about__media__decor:nth-child(5) {
    bottom: 150px;
    right: 20px;
}

.about__media__decor:nth-child(6) {
    bottom: -55px;
    right: -42px;
}

/* Column 4 */
.about__desc-bottom {
    margin-top: 24px;
    max-width: 511px;
}

.about__tab-list {
    margin-top: 52px;
}

.about__tab-row {
    position: relative;
    display: inline-flex;
    column-gap: 56px;
    /* padding bottom de cho phan after dich xuong 10px va co the tuong tac voi cac phan tu khac o duoi no */
    border-radius: 2px;
}

.about__tab-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 11px;
    padding-bottom: 10px;
}

.about__tab-item__title {
    color: #48496a;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
}

.about__tab-row::after,
.about__tab-item--active::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    opacity: 0.07000000029802322;
    background: #ff5b2e;
}

.about__tab-item--active::after {
    width: 95px;
    opacity: 1;
    border-radius: 2px;
}

.about__tab-contents {
    margin-top: 36px;
}

.about__tab-content-item {
    position: absolute;
    visibility: hidden;
}

.about__tab-content-item--active {
    visibility: visible;
}

.tab-content__desc {
    width: 391px;
    font-size: 1.4rem;
    line-height: 1.71;
}

.tab-content__link {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    color: #ff5d31;
    font-weight: 500;
}

.tab-content__link::after {
    position: absolute;
    left: 0;
    bottom: -3px;
    content: "";
    display: inline-block;
    width: 86px;
    height: 1.5px;
    background: #ff5d31;
    border-radius: 2px;
}

/* ==============SERVICES============ */
.services {
    padding: 68px 100px;
    background-color: #fff6ed;
}

.services__heading {
    margin-top: 15px;
    text-align: center;
}

.services-content {
    margin-top: 71px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 71px;
}

.services-item {
    width: 294px;
    padding: 30px 22px 30px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.services-item__heading {
    display: flex;
    align-items: center;
    gap: 12px;

    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
}

.services-item__heading::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 22px;
    border-radius: 3px;
    background: linear-gradient(63deg, #ff5b2e 0%, #ffa187 100%);
}

.services-item__desc {
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
}

.services-item__link {
    margin-top: 24px;
    display: inline-block;
    color: #34396a;
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 400;
}

.services-item__link {
    display: flex;
    align-items: center;
}

.services-item__link::after {
    content: url(../icon/services-growth-icon.svg);
    margin-left: 6px;
}

.services-item + .services-item {
    margin-top: 24px;
}

.services__wrapper-image {
    position: relative;
    margin-top: 15px;
    width: 440px;
}

.services__image {
    position: relative;
    width: 100%;
    display: block;
    z-index: 1;
}

.services__wrapper-image::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 16px;
    display: inline-block;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 100%);
}

.services__wrapper-cta {
    text-align: center;
}

.services__cta {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    min-width: 214px;
    height: 56px;
    color: var(--primary-color);
    border: 1px solid currentColor;
    border-radius: 30px;
}

/* =========GROOMERS=============== */
.groomers {
    padding: 130px 0;
    background-color: #fffaf5;
}

.groomers__heading {
    margin-top: 15px;
    text-align: center;
}

.groomers-team {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 67px;
    margin-top: 59px;
}

.groomer-member {
    text-align: center;
}

.groomer-member__wrapper-avt {
    position: relative;
    border-radius: 130px;
}

.groomer-member__wrapper-avt::before {
    position: absolute;
    content: "";
    inset: auto 0 0 0;
    height: 92%;
    /* xet height la don vi phan tram de khi ta thu nho man hinh lai thi backgorund cua avt se thu nho theo */
    border-radius: inherit;
}

.groomer-member__wrapper-avt::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: calc(100% + 32px);
    height: 100%;

    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.groomer-member-avt {
    position: relative;
    width: 100%;
    display: block;
    border-radius: inherit;
    z-index: 1;
}

.groomer-member:nth-child(1) .groomer-member__wrapper-avt::before {
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.groomer-member:nth-child(1) .groomer-member__wrapper-avt::after {
    background-image: url(../icon/groomer-icon-1.svg);
}

.groomer-member:nth-child(2) .groomer-member__wrapper-avt::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.groomer-member:nth-child(2) .groomer-member__wrapper-avt::after {
    background-image: url(../icon/groomer-icon-2.svg);
}

.groomer-member:nth-child(3) .groomer-member__wrapper-avt::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.groomer-member:nth-child(3) .groomer-member__wrapper-avt::after {
    background-image: url(../icon/groomer-icon-3.svg);
}

.groomer-member:nth-child(4) .groomer-member__wrapper-avt::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.groomer-member:nth-child(4) .groomer-member__wrapper-avt::after {
    background-image: url(../icon/groomer-icon-4.svg);
}

.groomer-member:nth-child(even) .groomer-member__wrapper-avt::after {
    background-position: 0 19px;
}

.groomer-member__info {
    margin-top: 29px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
}

.groomer-member__name {
    margin-top: 14px;
}

.groomer-cta {
    position: relative;
    left: 50%;
    translate: -50% 0;
    margin-top: 48px;
    min-width: 193px;
    height: 56px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 31px;
    transition: color, 0.5s;
}

.groomer-cta span {
    position: relative;
    z-index: 1;
}

.groomer-cta::after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 0;
    background-color: var(--primary-color);
    height: 100%;
    border-radius: 31px;
    transition: background-color, 0.5s;
}

.groomer-cta:hover::after {
    width: 100%;
    left: 0;
}

.groomer-cta:hover {
    color: white;
}

/* ==========PRICING========= */
.pricing {
    padding: 86px 0;
    background-color: #fff6ed;
}

.pricing-inner-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__desc {
    margin-top: 24px;
    max-width: 709px;
    text-align: center;
}

.pricing__chooses {
    display: flex;
    position: relative;
    margin-top: 38px;
}

.pricing__choose__label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;
    width: 276px;
    height: 56px;

    border-radius: 31px;
    border: 1px solid #ff5b2e;
    font-weight: 600;
    color: var(--primary-color);

    user-select: none;
}

.pricing__choose__label::before {
    position: absolute;
    right: 144px;
    content: "";
    display: inline-block;
    width: 131px;
    height: 56px;
    border-radius: 31px;
    background: #ff5b2e;
    transition: 0.5s;
}

.pricing__chooses [type="checkbox"]:checked + label::before {
    right: 0;
}

.pricing__label__text-1,
.pricing__label__text-2 {
    transition: 0.5;
}

.pricing__chooses__input:checked + .pricing__choose__label .pricing__label__text-2 {
    color: white;
    position: relative;
    z-index: 2;
}

.pricing__chooses__input:not(:checked)
    + .pricing__choose__label
    .pricing__label__text-1 {
    color: white;
    position: relative;
    z-index: 2;
}

.pricing-chooses__icon-sale {
    position: absolute;
    right: -110px;
    bottom: 27px;
}

.pricing-list {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 44px;
}

.pricing-wrapper-list {
    padding: 0 88px;
}

.pricing-column {
    padding: 30px 28px 43px;
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: 0.3s;
}

.pricing-column__classify {
    color: #ff5b2e;
    font-size: 1.2rem;
    font-weight: 400;
}

.pricing-column__category-care {
    margin-top: 8px;
    color: #3f4065;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
}

.pricing-column__price {
    display: inline-block;
    margin-top: 24px;
    color: var(--heading--color);
    font-family: Sora;
    font-size: 3.4rem;
    font-weight: 700;
}

.pricing-column__btn {
    margin-top: 22px;
    min-width: 246px;
    height: 44px;
    color: var(--primary-color);
    border-radius: 39px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    transition: 0.5s;
}

.pricing-column__sub-list {
    margin-top: 24px;
}

.pricing__sub-list__item {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.sub-list__item__icon.unchecked {
    opacity: 0.5;
}

.sub-list__item__text {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 12px;
}

.pricing-column:hover {
    translate: 0 -20px;
    border: 2px solid var(--primary-color);
}

.pricing-column:hover .pricing-column__btn {
    color: #fff;
    background-color: var(--primary-color);
}

/* ==========REVIEWS============== */
.reviews {
    padding: 130px 0 186px;
    background-color: #fffaf5;
}

.reviews-inner {
    position: relative;
    display: flex;
    align-items: center;
}

.reviews__button {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
    width: 54px;
    height: 54px;
    color: var(--primary-color);

    outline: none;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    border-radius: 50%;

    transition: background-color, color, 0.3s;
}

.reviews__button-2__icon {
    rotate: 180deg;
}

.reviews__button:hover {
    background-color: var(--primary-color);
    color: white;
}

.review-list {
    display: flex;
    overflow: hidden;
}

.reviews-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin: 0 76px 0 44px;
    /* khoang cach giua review list va 2 button */
    padding-top: 22px;
}

.reviews__wrapper-image {
    position: relative;
    width: 274px;
    border-radius: 137px;
}

.reviews__image {
    position: relative;
    width: 100%;
    border-radius: inherit;
    z-index: 1;
    display: block;
}

.reviews__wrapper-image::after {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    /* background-image co width la 100% va co position o bottom 0 trong wrapper image */
    height: 82%;
    background-color: #ffda54;
    border-radius: inherit;
}

.reviews-item__info {
    max-width: 553px;
    margin-left: 115px;
}

.review__desc {
    margin-top: 24px;
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.55; /* 155.556% */
}

.review__author {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin-top: 34px;
    color: #282828;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
}

.review__author::before {
    content: "";
    display: inline-block;
    margin-right: 8px;
    width: 20px;
    height: 2px;
    background-color: black;
}

.reviews__control__location {
    position: absolute;
    left: 50%;
    translate: -50% 0;
    bottom: -56px;
    display: flex;
    gap: 8px;
}

.reviews__control__item {
    width: 8px;
    height: 8px;
    border-radius: 100rem;
    border: 1px solid var(--primary-color);
}

.reviews__control__item.active {
    width: 24px;
    height: 8px;
    border-radius: 4px;
    background-color: var(--primary-color);
}

/* ==========BLOG=========== */
.blog {
    padding-bottom: 130px;
    background-color: #fffaf5;
}

.blog-row-top {
    display: flex;
    align-items: center;
}

.blog__heading {
    margin-right: 512px;
}

.blog-row-top__desc {
    max-width: 350px;
}

.blog-row-top__cta {
    margin-top: 24px;
    min-width: 182px;
    height: 56px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 31px;
    transition: 0.2s;
}

.blog-row-top__cta:hover {
    background-color: var(--primary-color);
    color: white;
}

.blog-list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 48px;
}

.blog-item {
    border-radius: 24px;
}

.blog-item__bgc-thumb {
    width: 100%;
    padding: 24px 0 0 36px;
    border-radius: 24px;
    background-color: #90ccff;
}

.blog-item:nth-child(2) .blog-item__bgc-thumb {
    background-color: #ff997e;
}

.blog-item:nth-child(3) .blog-item__bgc-thumb {
    background-color: #5bd6e2;
}

.blog-item__date {
    color: #fff;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 400;
}

.blog-item__thumb {
    margin-top: 25px;
    display: block;
    width: 322px;
    height: 296px;
    object-fit: cover;
}

.blog-item__title.heading.lv3 {
    margin-top: 28px;
    line-height: 1.54;
}

.blog-item__desc {
    font-size: 1.4rem;
    margin-top: 16px;
    line-height: 1.71;
}

/* ============FOOTER========== */
.footer {
    padding: 52px 0 48px;
    background-color: #fff6ed;
}

.footer-inner {
    display: flex;
    align-items: center;
}

.footer-contact {
    margin-right: 341px;
}

.footer-contact__form {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.footer-contact__email {
    width: 268px;
    height: 46px;
    padding: 0 22px;
    border-radius: 23px;
    border: 1px solid rgba(255, 91, 46, 0.25);
    background: #fff;
    outline: none;
    transition: 0.3s;
}

.footer-contact__email:focus {
    border: 1px solid var(--primary-color);
}

.footer-contact__email::placeholder {
    color: #656689;
    font-family: "Poppins";
    font-size: 1.2rem;
    font-weight: 300;
}

.footer-contact__submit-btn {
    margin-left: -45px;
    width: 45px;
    height: 46px;

    border-radius: 50%;
    border: none;
    outline: none;

    color: white;
    background-color: var(--primary-color);
    rotate: 180deg;
}

.footer-socials {
    margin-top: 68px;
}

.footer-socials__title,
.footer-info__title {
    color: #000958;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
}

.footer-socials__row {
    margin-top: 16px;
    display: flex;
    gap: 16px;
}

.footer-socials__item-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;
    border-radius: 100rem;
    border: 2px solid transparent;
    background-color: white;

    transition: 0.3s;
}

.footer-socials__item-link:hover {
    border-color: var(--primary-color);
}

.footer-info__row {
    display: flex;
}

.footer-info__row-top {
    gap: 237px;
}

.footer-info__list {
    margin-top: 14px;
}

.footer-info__item {
    margin-top: 17px;
}

.footer-info__link {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    transition: 0.4s;
}

.footer-info__link:hover {
    text-decoration: underline;
    font-weight: 600;
}

.footer-info__row-bottom {
    margin-top: 58px;
    gap: 137px;
}

.footer-copy-right {
    margin-top: 52px;
    color: #656689;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}
